{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">

    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <h1>Side-A Records</h1>
        </div>
        <nav class="nav">
            <a href="#">All</a>
            <a href="#">New Releases</a>
            <a href="#">Genres</a>
            <a href="#">Best Sellers</a>
            <a href="#">Pre-Owned</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </nav>
    </header>

    <h1>Hello World!</h1>
    
</body>
</html>