{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="logo">
            <a href="{% url 'first_view' %}">Side-A Records</a>
        </div>
        <div class=".nav-container">
            <nav class="nav">
                <a href="#">All</a>
                <a href="#">New Releases</a>
                <a href="#">Genres</a>
                <a href="#">Best Sellers</a>
                <a href="#">Pre-Owned</a>
                <a href="#">Contact</a>
                <a href="{% url 'about' %}">About</a>
            </nav>
        </div>
    </header>

    <div>
        <h1>insert banner here?</h1>
    </div>

    {% block content %}
    
    {% endblock content %}

    <footer class="site-footer">
        <div class="site-logo">
            <h2>Side-A Records</h2>
        </div>
    </footer>
</body>
</html>