{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <title>Capstone</title>
</head>
<body>
    <header class="site-header">

        <div class="logo">
            <a href="{% url 'first_view' %}">Side-A Records</a>
        </div>

        <div class="filter">
            <form method="get">
                <label for="search">Search Records</label>
                <input 
                  type="search" 
                  name="search" 
                  id="search"
                  value="{{ request.GET.search }}"
                  placeholder="Search by title..."
                >
                <button type="submit">Search</button>
              </form>
        </div>

        <div class=".nav-container">
            <nav class="nav">
                <a href="{% url 'album_list' %}">All</a>
                <a href="#">New Releases</a>
                <a href="#">Genres</a>
                <a href="#">Pre-Owned</a>
            </nav>
        </div>

    </header>

    <div class="banner-container">
        <h3>stuff goes here</h3>
    </div>

    <div class="main-content">
        {% block content %}


        {% endblock content %}
    </div>

    <footer class="site-footer">
        <div class="site-logo">
            <h2>Side-A Records</h2>
        </div>
        <div>
            <nav>
                <a href="#">contact</a>
                <a href="{% url 'about' %}">About</a>
            </nav>
        </div>
    </footer>
</body>
</html>